*{
    font-family: 'Raleway', sans-serif;
    padding: 0%;
    margin: 0;

}

#encabezado {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 30px 20px;
    background-color: rgb(24, 168, 95);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

#encabezado ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mediausuario>a>img {
    width: 25px;
    height: 25px;
}
#mediausuario>a {
    text-decoration: none;
    color: #FFF;
    font-size: 13px;
    padding: 0 5px;
}

#mediausuario>a:hover{
    border: 2px solid white;
    padding: 5px 10px;
    transition-duration: 0.2s;
    text-decoration: none;
}

#mediausuario>a>img:hover{
    cursor: pointer;
}


#logo>img {
    width: 50px;
    height: 50px;
}

#encabezado ul li {
    list-style: none;
}

#encabezado ul li a {

    position: relative;
    margin: 0 15px;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: 400;
    cursor: pointer;
    color: white;   
}

#encabezado  nav ul a:hover {
    border: 2px solid white;
    padding: 5px 10px;
    transition-duration: 0.2s;
    text-decoration: none;
}

#contenido {
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

#carouselExampleCaptions{
    height: 60%; 
    width: 55%;
    position: relative;
    bottom: 150px;
}

#separador{
    display: flex;
    justify-content: space-evenly;
    background-color: white;
    height: 20%;
    width: 100%;
    color: rgb(24, 168, 95);
}

#separador>#redessociales{
    display: flex;
    justify-content: space-evenly;
    
}

#separador .red a :hover{
    cursor: pointer;
}

#muestras {
    height: 65vh; 
    width: 55%;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 100px;
}

#muestras .card {
    bottom: 50px;
    padding-bottom: 30px;
}

#footer{
    height: 30vh; 
    width: 100%;
    background-color: rgb(24, 168, 95);
    text-decoration: none;
    color: #FFFFFF;
}

#logofooter>p{
    display: flex;   
}

.infoextra>a{
    text-decoration: none;
    color: #FFFFFF;
}

.infoextra{
    transition-duration: 0.5s;
    display: flex;
    flex-direction: column;
    cursor: pointer;  
    text-decoration: none;
    position: relative;
    bottom: -100%;
}

.infoextra>h1{
    font-size: 1.9rem;
}

#pago{
    display: flex;
    justify-content: right;
    width: -20%;
    position: relative;
    bottom: 70%;
    margin: 0 auto;
}

#metodopago>h1{
    font-size: 1.9rem
}

#metodopago>a>img {
    width: 200px;
    height: 70px;
}

#metodopago>a{
    display: flex;
    justify-content: center;

}

#logofooter{
    display: flex;
    justify-content: center;
    position: relative;
}

#footer>h5{
    display: flex;
    justify-content: center;
    position: relative;
}

.infoextra>a:hover{
    cursor: pointer;
    text-decoration: none;
}

input {
    border: 5px solid white;
}

#botonbuscar {
    background-color: transparent;
    border: none
}








